<div class="card" style="width: 18rem;">
    <div class="card-body">
      <div style="height: 100px; width: 266px;">
        <div style="height: 100px; width: 100px; float: left;"><img src="https://www.etsy.com/fr/listing/924828087/personnage-dd-o-impression-matte-de"></div>
          <h5 class="card-title" style="font-weight: bold;">{{title}}</h5>
          <h6 class="card-subtitle classe">Classe : Paladin</h6>
          <h6 class="card-subtitle espece">Espèce : Humain</h6>
    </div>
      <h6 class="card-subtitle level">Niveau : 3</h6>
      <p class="card-text">Un rapide résumé de mon personnage pour le faire découvrir aux autres utilisateurs qui souhaiteraient m'inviter dans leurs aventures.</p>
      <a href="#" class="card-link">Voir la fiche</a>
      <a href="#" class="card-link">Contacter</a>
    </div>
  </div>